* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
}

#app {
	height: 100vh;
	background: rgb(217, 219, 215);
	background: -moz-linear-gradient(
		180deg,
		rgba(78, 147, 137, 1) 150px,
		rgba(217, 219, 215, 1) 150px
	);
	background: -webkit-linear-gradient(
		180deg,
		rgba(78, 147, 137, 1) 150px,
		rgba(217, 219, 215, 1) 150px
	);
	background: linear-gradient(
		180deg,
		rgba(78, 147, 137, 1) 150px,
		rgba(217, 219, 215, 1) 150px
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d9dbd7",endColorstr="#4e9389",GradientType=1);
}

.app__content {
	height: 100%;
	display: flex;
}

.sidebar {
	display: none;
	width: 82px;
	flex-shrink: 0;
}

.my-status {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-right: 1px solid #B1B1B1;
}

.alert {
	display: flex;
	background-color: #8EDAFC;
	padding: 20px 13px;
	align-items: center;
	gap: 18px;
	color: black;
}

.alert-font-size {
	font-size: 16px;
}

.alert-link {
	color: #557B8E;
	font-size: 13px;
}

.search {
	display: flex;
	padding: 10px;
	gap: 12px;
	background-color: #FAFAFA;
}

.search-border {
	border: none;
}


.list-name {
	list-style-type: none;
}

.profile {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: white;
	border-bottom: 1px solid #F7F7F7;
}
/* .chat-history {
    max-height: 630px;
    overflow: auto;
} */


.chat-name {
    color: black;
    font-size: 16px;
}

.chat-preview{
    color: #B8BBBD;
    font-size: 15px;
}

.time {
    color: #B8BBBD;
	margin-left: 18px;
} 

.fontawesome-mr {
	color: #B1B1B1;
	margin-right: 13px;
    display: none;
}

@media (min-width: 1200px) {
	.fontawesome-mr {
		display: flex;
	}
}

.fontawesome-alert {
	background-color: white;
	color: #8EDAFC;
	padding: 10px;
	border-radius: 50%;
	font-size: 18px;
}

.fontawesome-search {
	color: #787878;
}

.avatar-bg-grey {
	background-color: #EAEAEA;
}

.chat-wrapper {
	flex-grow: 1;
}

.avatar {
    width: 50px;
    border-radius: 50%;
    margin-left: 20px;
    padding: 20px 0;
}

@media (min-width: 768px) {
	.sidebar {
		display: block;
	}
}

@media  (min-width: 765px) and (max-width: 1200px) {
    .alert {
        display: none;
    }

    .search {
        display: none;
    }

	.list-name {
		display: none;
	}

	.chat-preview {
		display: none;
	}

	.time {
		display: none;
	}
}

@media (min-width: 1200px) {
	#app {
		padding: 36px 0;
	}

	.app__content {
		width: 80%;
		margin: 0 auto;
	}

	.sidebar {
		width: 370px;
	}
}

.heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 18px;
	background: #EAEAEA;
}

.fontawesome-flex {
	display: flex;
	color: #B1B1B1;
	margin-right: 13px;
	gap: 15px;
}

@media (max-width: 768px) {
	.fontawesome-flex {
		display: none;
	}
}

.who-is {
	display: flex;
	align-items: center;
	gap: 15px;
}

.text-bg-green {
	background-color: #D5FABA;
	padding: 20px 20px 85px;
	margin-top: 35px;
	margin-left: 35px;
	border-radius: 25px;
}

.text-bg-white {
	background-color: white;
	padding: 20px 20px 85px;
	margin-top: 35px;
	margin-left: 35px;
	border-radius: 25px;
}

.text  {
	max-width: 700px;
}