* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
}

.app {
    width: 100vh;
}

.container {
    width: 1130px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-8 {
    width: calc(8 * 100% / 12);
}

.col-4 {
    width: calc(4 * 100% / 12);
}

.col-2 {
    width: calc(2* 100% / 12);
}

.aside {
    display: flex;
    flex-direction: column;
}

.avatar {
    width: 65px;
    border-radius: 50%;
    margin-right: 15px;
}

.alert {
    background-color: #8EDAFC;
    padding: 10px 5px;
}

.alert-link {
    font-size: 12px;
    color: #507788;
}

.profile {
    display: flex;
    padding: 5px;
    align-items: center;
    border-bottom: 1px solid #BDC0C2;
}

.preview {
    color: #BDC0C2;
}

.access {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.access-mr {
    margin-bottom: 5px;
}

.bg-green {
    background-color: green;
    padding: 10px;
    width: 450px;
    border-radius: 25px;
    margin-bottom: 15px;
}

.bg-grey {
    width: 450px;
    background-color: grey;
    padding: 10px;
    border-radius: 25px;
    margin-bottom: 15px;
}

.avatar-bg-grey {
    background-color: #EAEAEA;
}

.bg-palette {
    background-image: url(./mine.jpg);
    height: 700px;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 15px;
}

.fontawesome {
    color: #B1B1B1;
}

.my-status {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fontawesome-mr {
    margin-right: 10px;
}